/* header.css */
header .logo {
    font-size: 3rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.5rem;
    transition: color 0.5s ease;
}

.top-icons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.dark-mode-icon img,
.profile-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.notes-header {
    display: flex;
    justify-content: space-between; /* Pushes items to opposite sides */
    align-items: center; /* Aligns items vertically */
}
