/* Style for the history container */
.history-container {
    text-align: center;
    margin: 20px;
}

.clear-button-container {
    text-align: center; /* Center the button horizontally */
    margin-top: 20px; /* Optional: add some space above the button */
}

.clear-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007aff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.clear-button:hover {
    background-color: #005bb5;
}

/* Optional: Add margin to the h1 for better spacing */
h1 {
    margin-bottom: 15px;
}

.movie-item p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
