<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Favorites</h1>

    {% if favoritesDB %}
    <div>
        {% for movie in favoritesDB %}
            <div class="movie-item">
                <img src="{{ movie.Poster }}" alt="{{ movie.Title }} Poster">
                <h3>{{ movie.Title }}</h3>
                <p>{{ movie.Plot }}</p>
                <a href="{{ movie.IMDb_URL }}" target="_blank">View on IMDb</a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No movies found in your favorites.</p>
{% endif %}

</body>
</html>