<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta and Title -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineSage - Movie Search</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="static/reset.css">
    <link rel="stylesheet" href="static/global.css">
    <link rel="stylesheet" href="static/header.css">
    <link rel="stylesheet" href="static/dropdown.css">
    <link rel="stylesheet" href="static/forms.css">
    <link rel="stylesheet" href="static/overlays.css">
    <link rel="stylesheet" href="static/buttons.css">
    <link rel="stylesheet" href="static/dark-mode.css">
    <link rel="stylesheet" href="static/footer.css">
    <link rel="stylesheet" href="static/search.css">
    <link rel="stylesheet" href="static/login.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/style_results.css">

    <!-- JavaScript Files -->
    <script src="static/functions.js" defer></script>
</head>

<body>
    <!-- Top Icons Section -->
    <div class="top-icons">
        <div class="dark-mode-icon" onclick="toggleDarkMode()">
            <img src="static/images/dark.png" alt="Dark Mode">
            
        </div>
        <div class="username">
            <p> {{ username }} </p>
        </div>
        <div class="profile-icon" onclick="toggleMenu()">
            
            <img src="{{ image_url }}" alt="Menu">
            <div class="dropdown-menu" id="dropdownMenu">
                <a href="{{ url_for('profile') }}">Manage Profile</a>
                <a href="{{ url_for('login') }}">LoginButton(temp)</a> <!-- onclick="showLoginModal() -->
                <a href="{{ url_for('history') }}">History</a>
                <a href="{{ url_for('settings') }}">Settings</a>
                <a href="{{ url_for('logout') }}">Log Out</a>
            </div>
        </div>

    </div>

    <!-- Main Container for Centered Content -->
    <div class="main-container">
        <header>
            <h1 class="logo">CineSage</h1>
        </header>
        <main>
            <form method="GET" action="{{ url_for('results') }}">
                <div class="search-box">
                    <input type="text" id="movieInput" name="movieTitle" placeholder="Search for movies" aria-label="Search for movies">
                </div>
        
                <!-- Genre Filter Dropdown -->
                <div class="genre-dropdown">
                    <select id="genre" name="genre">
                        <option value="">All Genres</option>
                        <option value="action">Action</option>
                        <option value="comedy">Comedy</option>
                        <option value="drama">Drama</option>
                        <option value="fantasy">Adventure</option>
                        <option value="horror">Horror</option>
                        <option value="romance">Romance</option>
                        <option value="sci-fi">Sci-Fi</option>
                        <option value="thriller">Thriller</option>
                        <!-- Add more genres as needed -->
                    </select>
                </div>
        
                <!-- Buttons -->
                <div class="button-group">
                    <button type="submit">Search</button>
                    <button type="button" onclick="feelingLucky()">Random</button>
                    <button type="button" onclick="window.open('https://babel-weld.vercel.app/', '_blank')">Rent a Movie</button>
                </div>

                <div class="recommended-movies-section">
                    <h2>Recommended Movies</h2>
                    <div class="recommended-gallery">
                        {% if watchlist %}
                            {% for movie in watchlist %}
                            <div class="recommended-item">
                                <img src="{{ movie.Poster }}" alt="{{ movie.Title }} Poster">
                                <p>{{ movie.Title }}</p>
                            </div>
                            {% endfor %}
                        {% else %}
                            <p>No movies to recommend</p>
                        {% endif %}
                    </div>
                    <h2>Current Theater Movies</h2>
                    <div class="recommended-gallery">
                            {% if theater_movies %}
                                {% for movie in theater_movies %}
                                <div class="recommended-item">
                                    <a href="{{ movie.tmdb_link }}" target="_blank">
                                        {% if movie.poster_url %}
                                            <img src="{{ movie.poster_url }}" alt="{{ movie.title }} Poster">
                                        {% else %}
                                            <p>No Poster Available</p>
                                        {% endif %}
                                        <p>{{ movie.title }}</p>
                                    </a>
                                </div>
                                {% endfor %}
                            {% else %}
                                <p>No movies currently playing.</p>
                            {% endif %}
                    </div>
                </div>
            </form>
            <div id="result"></div>
        </main>
        <footer>
            <a href="https://www.imdb.com/showtimes/set-location" target="_blank">See Current Showtimes</a>
        </footer>
    </div>



    <!-- Frosted Background and Login Modal -->
    <div class="frosted-background" id="frostedBackground"></div>
    <div class="login-modal" id="loginModal">
        <iframe src="login.html" frameborder="0" class="login-iframe"></iframe>
    </div>
</body>

</html>