<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>

  <div class="register-container">
    <form action="{{ url_for('register_user') }}" method="post">
      <label for="uname"><b>Username</b></label>
      <input name="username" type="text" placeholder="Enter Username" required>
  
      <!-- ****temporarily taking it off because we are not using email yet*****
      <label for="email"><b>Email</b></label>
      <input id="email" type="email" placeholder="Enter Email" name="email" required>
      -->

      <label for="password"><b>Password</b></label>
      <input id="psw" type="password" placeholder="Enter Password" name="psw" required>
  
      
      <label for="psw-repeat"><b>Confirm Password</b></label>
      <input id="conf_psw" type="password" placeholder="Confirm Password" name="psw-repeat" required>
  
      <button type="submit">Register</button>
    </form>
  
    <div style="text-align:center;">
      <span>Already have an account? <a href="{{ url_for('home') }}">Login here</a></span>
    </div>
  </div>  
</form>
